@import url(../fonts/fonts.css);
body {
  font-family: "GolosText-Regular";
}

.sidebar .sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 100%;
  padding: 10px 20px;
}
.sidebar .sidebar-logo .logo {
  color: #000;
  fill: #000;
}
.sidebar .sidebar-logo .btn-account {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #E8FFF3;
  border: 1px solid #E8FFF3;
}
.sidebar .search-input {
  margin: 32px 20px;
}
.sidebar .menu-list .text {
  margin-left: 10px;
}
.sidebar .menu-list .el-submenu__title i {
  transform: rotate(270deg);
}
.sidebar .menu-list .el-menu-item-group__title {
  display: none;
}
.sidebar .menu-list .el-icon-right {
  font-size: 14px;
}
.sidebar .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  transform: rotateZ(0deg) !important;
}
.sidebar .currency {
  padding: 10px 20px;
}
.sidebar .currency .currency-price {
  display: flex;
  align-items: center;
}
.sidebar .currency .currency-price .text {
  margin: 6px 10px;
  font-size: 13px;
}

.navbar {
  padding: 20px 30px;
}
.navbar .stir-search {
  width: 192px;
  margin-right: 30px;
}
.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar .actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #F7F7F7;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  border: 1px solid #F7F7F7;
}
.navbar .actions-btn:hover {
  background-color: #D2FAE5;
}
.navbar .navbar-title {
  font-size: 28px;
  color: #292929;
  line-height: 36px;
  margin: 0;
}

.reports {
  margin: 10px 20px;
  background-color: #fff;
}
.reports .main {
  padding: 20px;
  background-color: #F7F7F7;
  border-top-left-radius: 24px;
  border-top-right-radius: 25px;
}
.reports .main .el-table tr {
  background-color: #F7F7F7;
}
.reports .main .el-table th.el-table__cell {
  background-color: #F7F7F7;
}
.reports .main .el-table__expanded-cell:hover {
  background-color: #fff !important;
}
.reports .main .el-table__cell.el-table__expanded-cell {
  box-shadow: 0 8px 20px -18px #000;
}
.reports .main .report-table {
  background-color: #F7F7F7;
}
.reports .main .report-table .el-table__row tr {
  background-color: #FFC6C6 !important;
}
.reports .main .report-table .el-table__row.expanded {
  background-color: #fff;
}
.reports .main .report-table .collapsed-table {
  width: 100%;
  padding: 10px;
}
.reports .main .report-table .collapsed-table tr {
  background-color: #fff;
}
.reports .main .report-table .actions {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100px;
  height: 80px;
  padding: 10px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 8px 20px -18px #000;
  z-index: 2;
  top: 50px;
  right: 40px;
}
.reports .main .report-table .actions .actions-items {
  display: flex;
  position: relative;
}
.reports .main .report-table .actions .actions-items .actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #F7F7F7;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  border: 1px solid #F7F7F7;
}
.reports .main .report-table .actions .actions-items .actions-btn:hover {
  background-color: #D2FAE5;
}
.reports .main .report-table .actions .actions-items .curved-corner-left {
  position: absolute;
  left: -46px;
  top: -9px;
}
.reports .main .report-table .actions .actions-items .curved-corner-right {
  position: absolute;
  left: 84px;
  top: -2px;
}
.reports .main .report-table .el-table__expand-icon {
  height: 32px;
  width: 32px;
  background: #E6E6E6;
  border-radius: 50%;
  line-height: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transform: rotate(90deg);
}
.reports .main .report-table .el-table__expand-icon > .el-icon {
  position: inherit !important;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
}
.reports .main .report-table .el-table__expand-icon--expanded {
  transform: rotate(270deg);
  background-color: #8EFFC3 !important;
}
.reports .main .report-table .title {
  color: #7A7A7A;
  font-size: 13px;
}
.reports .main .report-table .text {
  color: #292929;
  font-size: 13px;
  padding: 2px 0;
  margin: 0;
}
.reports .main .warning-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE5C6;
  width: 96px;
  height: 44px;
  border-radius: 18px;
  color: #292929;
  border: 1px solid #FFE5C6;
}
.reports .main .success-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C6FFE9;
  width: 96px;
  height: 44px;
  border-radius: 18px;
  color: #292929;
  border: 1px solid #C6FFE9;
}
.reports .main .error-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC6C6;
  width: 96px;
  height: 44px;
  border-radius: 18px;
  color: #292929;
  border: 1px solid #FFC6C6;
}
.reports .main .filters .filters-list {
  display: flex;
  justify-content: end;
}
.reports .main .filters .filters-list .filter-btn {
  width: 108px;
  height: 32px;
  background-color: #E6E6E6;
  border-radius: 12px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reports .main .filters .filters-list .filter-btn img {
  width: 12px;
}
.reports .main .filters .filters-list .el-button:focus, .reports .main .filters .filters-list .el-button:hover {
  color: #000;
}
.reports .paginations {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 10px;
  z-index: 2;
}
.reports .paginations .pagination-list {
  width: 410px;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 1px 13px -8px;
  position: relative;
  transform: translate(-84px, 0px);
}
.reports .paginations .pagination-list .el-pagination.is-background .el-pager li:not(.disabled).active, .reports .paginations .pagination-list .el-pagination.is-background .btn-next, .reports .paginations .pagination-list .el-pagination.is-background .btn-prev, .reports .paginations .pagination-list .el-pagination.is-background .el-pager li {
  border-radius: 50%;
}
.reports .paginations .pagination-list .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #C6FFE9;
  color: #292929;
}

#curved-corner-topright {
  width: 32px;
  height: 33px;
  overflow: hidden;
  position: relative;
  transform: rotate(0deg);
}

#curved-corner-topleft {
  width: 26px;
  height: 40px;
  overflow: hidden;
  position: relative;
  transform: rotate(90deg);
}

#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -18px -39px 0 0 #fff;
}

#curved-corner-topright:before {
  top: 0;
  left: 0;
  box-shadow: -18px -39px 0 0 #fff;
}/*# sourceMappingURL=style.css.map */