@font-face {
  font-family: 'GolosText-Black';
  src        : local('GolosText'), local('GolosText'),
      url('./GolosText-Black.ttf') format('truetype');
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: 'GolosText-Bold';
  src        : local('GolosText'), local('GolosText'),
      url('./GolosText-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style : normal;
}

@font-face {
  font-family: 'GolosText-SemiBold';
  src        : local('GolosText'), local('GolosText'),
      url('./GolosText-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'GolosText-ExtraBold';
  src        : local('GolosText'), local('GolosText'),
      url('GolosText-ExtraBold.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'GolosText-Regular';
  src        : local('GolosText'), local('GolosText'),
      url('GolosText-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style : normal;
}

@font-face {
  font-family: 'GolosText-Medium';
  src        : local('GolosText'), local('GolosText'),
      url('GolosText-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style : normal;
}