<template>
  <div class="reports">
    <div class="main">
      <div class="filters">
        <el-row>
          <el-col :span="18">
            <el-row :gutter="20">
              <el-col :span="6">
                <el-input
                  v-model="inputId"
                  placeholder="ID"
                />
              </el-col>
              <el-col :span="6">
                <el-input
                  v-model="datePicker"
                  placeholder="Период"
                />
              </el-col>
              <el-col :span="6">
                <el-input
                  v-model="inputPrice"
                  placeholder="Cумма"
                />
              </el-col>
            </el-row>
          </el-col>
          <el-col
            :span="6"
            class="filters-list"
          >
            <el-button class="filter-btn">
              <img
                src="image/icons/filter-icon.png"
                alt=""
              >
              Все фильтры
            </el-button>
          </el-col>
        </el-row>
      </div>
      
      <el-table
        :data="tableData"
        class="report-table"
        style="width: 100%"
      >
        <el-table-column
          v-slot="scope"
          label="ID"
          :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
          filter-placement="bottom-end"
          :filter-methods="filterId"
          width="100"
          class="table-info"
        >
          <span class="title">ID</span>
          <p class="text">
            {{ scope.row.id }}
          </p>
        </el-table-column>
        
        <el-table-column
          v-slot="scope"
          label="Номер"
          width="140"
          :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
          filter-placement="bottom-end"
          class="table-info"
        >
          <span class="title">Номер</span>
          <p class="text">
            {{ scope.row.number }}
          </p>
        </el-table-column>
        <el-table-column
          v-slot="scope"
          label="Дата"
          width="130"
          :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
          filter-placement="bottom-end"
          class="table-info"
        >
          <span class="title">Дата</span>
          <p class="text">
            {{ scope.row.data }}
          </p>
        </el-table-column>
        <el-table-column
          v-slot="scope"
          label="Сумма"
          width="120"
          :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
          filter-placement="bottom-end"
          class="table-info"
        >
          <span class="title">Сумма</span>
          <p class="text">
            {{ scope.row.price }}
          </p>
        </el-table-column>
        <el-table-column
          v-slot="scope"
          label="Получатель"
          width="480"
          :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
          filter-placement="bottom-end"
          class="table-info"
        >
          <span class="title">Получатель</span>
          <p class="text">
            {{ scope.row.recipient }}
          </p>
        </el-table-column>
        <el-table-column
          prop="tag"
        >
          <template #default="scope">
            <el-tag
              v-if="scope.row.tag === 'Создан'"
              class="warning-tag"
              disable-transitions
            >
              {{ scope.row.tag }}
            </el-tag>
            
            <el-tag
              v-else-if="scope.row.tag === 'Готово'"
              class="success-tag"
              disable-transitions
            >
              {{ scope.row.tag }}
            </el-tag>
              
            <el-tag
              v-else-if="scope.row.tag === 'Отмена'"
              class="error-tag"
              disable-transitions
            >
              {{ scope.row.tag }}
            </el-tag>  
          </template>
        </el-table-column>
        <el-table-column type="expand">
          <table class="collapsed-table">
            <thead>
              <tr>
                <td width="95" class="text">
                  Д-Т
                </td>
                <td width="140" class="text">
                  К-Т
                </td>
                <td width="248" class="text">
                  Финансовый год
                </td>
                <td width="280" class="text">
                  Счет плательщика
                </td>
                <td class="text">Счет получателя</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>112</td>
                <td>232</td>
                <td>2022</td>
                <td>100010860262877084300040001</td>
                <td>20218000305454808001</td>
              </tr>
            </tbody>
          </table>
          <div class="actions">
            <div class="actions-items">
              <el-button class="actions-btn">
                <img
                  src="image/icons/edir_icon.png"
                  alt=""
                >
              </el-button>
              <el-button class="actions-btn">
                <img
                  src="image/icons/delete-icon.png"
                  alt=""
                >
              </el-button>
              <div class="curved-corner-left">
                <div id="curved-corner-topleft" />
              </div>
              <div class="curved-corner-right">
                <div id="curved-corner-topright" />
              </div>
            </div>
          </div>
        </el-table-column>
      </el-table>
      <div
        id="fixed"
        class="paginations"
      >
        <div class="pagination-list">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="320"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Table',
  data() {
    return {
      datePicker: '',
      inputId: '',
      inputPrice: '',
      tableData: [{
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Создан'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Готово'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Отмена'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Создан'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Готово'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Создан'
        }, {
          id: '1376043',
          number: '2957200003',
          data: '25.07.2022',
          price: '5 923 100,00',
          recipient: '470092480 «Сарвиноз» оилавий НМТМ (М.Кенжаева)',
          tag: 'Отмена'
        }]
    }
  },
  methods: {
    filterId(value, row) {
      return row.id === value;
    },
    
  }
}
</script>

<style></style>