<template>
  <div class="navbar">
    <el-row>
      <el-col :span="10" class="">
        <h1 class="navbar-title">Платежное поручение</h1>
      </el-col>
      <el-col :span="14">
        <div class="navbar-list">
          <el-select
            class="stir-search"
            v-model="value"
            filterable
            placeholder="Л/С"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :value="item.value"
            >
            </el-option>
          </el-select>
          <el-button class="actions-btn">
            <img src="image/icons/plus-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/copy-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/edir_icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/done-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/delete-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/top-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/opposite-icon.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/comment.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/file.png" alt="" />
          </el-button>
          <el-button class="actions-btn">
            <img src="image/icons/print_icon.png" alt="" />
          </el-button>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Header",
  data() {
    return {
      options: [
        {
          value: "20218000305454",
        },
        {
          value: "53442957200003",
        },
        {
          value: "63442957200003",
        },
        {
          value: "98342957200003",
        },
        {
          value: "52332957200003",
        },
      ],
      value: "",
    };
  },
};
</script>

<style></style>
