<template>
  <div class="sidebar">
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
    >
      <div class="sidebar-logo">
        <div>
          <router-link to="/">
            <img src="image/icons/logotip.png" class="logo">
          </router-link>
        </div>
        <el-button class="btn-account">
          <img src="image/icons/account-icon.png" alt="">
        </el-button>
      </div>
      <div class="search-input">
        <el-input
          placeholder="Поиск"
          v-model="search">
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-submenu index="1" class="menu-list">
          <template slot="title">
            <img src="image/icons/hamburger-icon.png" alt="">
            <span class="text">Справочник</span>
          </template>
          <el-menu-item-group>
            <el-menu-item index="1-1"><i class="el-icon-right" /> item one</el-menu-item>
            <el-menu-item index="1-2"><i class="el-icon-right" /> item two</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="2" class="menu-list">
          <template slot="title">
            <img src="image/icons/file-icon.png" alt="">
            <span class="text">Документы</span>
          </template>
          <el-menu-item-group>
            <el-menu-item index="2-1"><i class="el-icon-right" /> item one</el-menu-item>
            <el-menu-item index="2-2"><i class="el-icon-right" /> item one</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="3" class="menu-list">
          <template slot="title">
            <img src="image/icons/report-icon.png" alt="">
            <span class="text">E-Отчеты</span>
          </template>
          <el-menu-item-group>
            <el-menu-item index="3-1"><i class="el-icon-right" /> item one</el-menu-item>
            <el-menu-item index="3-2"><i class="el-icon-right" /> item one</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="4" class="menu-list">
          <template slot="title">
            <img src="image/icons/statistic-icon.png" alt="">
            <span class="text">Отчеты</span>
          </template>
          <el-menu-item-group>
            <el-menu-item index="4-1"><i class="el-icon-right" /> item one</el-menu-item>
            <el-menu-item index="4-2"><i class="el-icon-right" /> item one</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="5" class="menu-list">
          <template slot="title">
            <img src="image/icons/kazna-icon.png" alt="">
            <span class="text">Казна</span>
          </template>
          <el-menu-item-group>
            <el-menu-item index="5-1"><i class="el-icon-right" /> item one</el-menu-item>
            <el-menu-item index="5-2"><i class="el-icon-right" /> item one</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </div>
      <div class="currency">
        <h4 class="title">Курсы валют</h4>
        <div class="currency-price">
          <img src="image/icons/usa-flag.png" alt="">
          <p class="text">1 USD = 11200</p>
        </div>
        <div class="currency-price">
          <img src="image/icons/euro-flag.png" alt="">
          <p class="text">1 USD = 11150</p>
        </div>
      </div>
    </el-menu>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Sidebar",
  data() {
    return {
      search: ''
    }
  },
};
</script>

<style></style>
