<template>
  <div id="app">
    <el-row>
      <el-col :span="4">
        <sidebar />
      </el-col>
      <el-col :span="20">
        <Header />
        <router-view />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Header from './components/header.vue'
import sidebar from './components/sidebar.vue'
export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { sidebar, Header },
  
}
</script>
<style lang="scss">

</style>
